.carousel {
    display: none;
    width: 510px;
    height: 790px;
    position: relative;
}

.carousel.aberto{
    display: block;
}


.cartao-wrapper {
    display: flex;
    overflow-x: auto;
    flex-flow: row nowrap;
    gap: 30px;
    padding: 0 15px 15px 15px;
}

.cartao-wrapper::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.cartao-wrapper {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.cartao-lanche {
    flex-shrink: 0;
}

.arrow-left, .arrow-right {
    position: absolute;
    cursor: pointer;
    font-size: 35px;
    top: 0;
    left: 70px;
    right: auto;
    bottom: 73px;
    background: transparent;
    color: rgba(0, 0, 0, 0.5);
    border: none;
}

.arrow-left:hover, .arrow-right:hover {
    color: rgba(0,0,0);
}

.arrow-left {
    transform: scalex(-1);
}

.arrow-right {
    left: auto;
    right: 70px;
}