* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(rgba(252, 146, 25, 0.7), rgba(252,199,25,0.7));
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.global {
    display: flex;
    gap: 30px;
    padding: 15px 0;
}

.background-salada {
    background: linear-gradient(rgba(255, 111, 0, 0.7), rgba(252,199,25,0.7));
}

.background-bacon {
    background: linear-gradient(rgba(197, 16, 19, 0.7), rgba(237,138,139,0.7));
}

.background-frango{
    background: linear-gradient(rgba(13, 109, 205, 0.7), rgba(118,190,254,0.7));
}

.background-tudo{
    background: linear-gradient(rgba(13, 213, 83, 0.7), rgba(73,208,176,0.7));
}