@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Fredoka+One&display=swap');

.opcoes {
    max-width: 200px;
    font-family: 'Fredoka One', cursive;
    color: rgba(0, 0, 0, 0.6);
}

.opcoes .botao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    background-color: #b7c5be;
    padding: 0 5px;
    cursor: pointer;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    min-height: 70px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 29px 0px;
    transition: 0.15s ease-in-out;
}

.opcoes .botao:hover { 
    color: rgba(0, 0, 0);
    transform: scale(1.10);
    opacity: 1;
}

.opcoes .botao:hover img {
    opacity: 1;
}

.opcoes .botao img {
    width: 40%;
    border-radius: 50%;
    opacity: 0.6;
}

.opcoes .botao span {
    padding-right: 20px;
}

.opcoes .botao.ativo {
    transform: scale(1.20);
    color: rgba(0, 0, 0);
    background-color: #FA6668;
}

.opcoes .botao.ativo img {
    opacity: 1;
}