.opcoes {
    max-width: 200px;
}

.opcoes .botao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #b7c5be;
    color: black;
    padding: 0 5px;
    cursor: pointer;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    min-height: 70px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.15s ease-in-out;
}

.opcoes .botao:hover { 
    transform: scale(1.05);
}

.opcoes .botao img {
    width: 50%;
    border-radius: 50%;
}

.opcoes .botao span {
    padding-right: 20px;
    font-weight: bold;
}

.opcoes .botao .ativo {
    background-color: #FA6668;
}