* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/background.webp);
    background-size: 200px 200px;
}

.cardapio-opcoes {
    border: 5px solid yellow;
    margin: 60px auto;
    width: 700px;
}